body {
  background: #ece7e7;
}
.topSlider {
  width:600px;
  background: #ffffff;
  border:1px solid #efefef;
  margin:0 auto;
    .slick-track {
      border:1px solid #dfdfdf;
        .slick-slide {
          position: relative;
          min-height:200px;
            .caption {
              position: absolute;
              right: 100px;
              bottom:0;
              opacity:0;
              display: none;
              -webkit-transition: all 0.5s ease-out 0s;
              -moz-transition: all 0.5s ease-out 0s;
              -ms-transition: all 0.5s ease-out 0s;
              -o-transition: all 0.5s ease-out 0s;
              transition: all 10s ease 0s;
              transform: translate3d(-600px, 0px, 0px);
                .caption-title {
                  text-align: right;
                  background: rgba(0,0,0,0.2);
                  color: #444;
                  padding:10px;
                  margin-bottom:10px;
                  position: relative;
                }
                .caption-sub-title {
                  background: rgba(0,0,0,0.3);
                  padding:10px;
                  text-align: right;
                  position: relative;
                }
            }
          &.slick-active {
            .caption {
              display: block;
              right:0;
              opacity:1;
              transform: translate3d(0px, 0px, 0px);
            }
          }
        }

    }
}